<% layout("layouts/boilerplate") %>
<div class="row">
  <div class="col-6 offset-3">
    <h1 class="text-center">Edit Campground</h1>
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="post"
      class="needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          value="<%= campground.title %>"
          required
        />
        <div class="invalid-feedback">
          Please provide a title for campground
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          value="<%= campground.location %>"
          required
        />
        <div class="invalid-feedback">
          Please provide a location for campground
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="description"
          rows="3"
          name="campground[description]"
          required
        >
<%= campground.description %></textarea
        >
        <div class="invalid-feedback">
          Please provide a description for campground
        </div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">₺</span>
          <input
            type="text"
            class="form-control"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            id="price"
            name="campground[price]"
            value="<%= campground.price %>"
            required
          />
          <div class="invalid-feedback">
            Please provide a nightly price for campground
          </div>
        </div>
      </div>
      <div class="mb-3">
        <h5>Check to Delete Images</h5>
        <div class="row row-cols-md-4 mb-3">
          <% campground.images.forEach((image, index) => { %>
          <div class="col">
            <div class="card">
              <img
                src="<%= image.thumbnail %>"
                alt="campground image"
                class="card-img"
              />
              <div class="card-img-overlay text-end pt-1 pe-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="<%= image.filename %>"
                  id="image-<%= index %>"
                  name="deletedImages[]"
                />
                <label class="visually-hidden" for="image-<%= index %>">
                  Check to Delete
                </label>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Save Campground</button>
      </div>
    </form>
    <a href="/campgrounds/<%= campground._id %>">Cancel</a>
  </div>
</div>
